<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Toxicwatch</title>
<!--     <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
        <div class="sidenav">
                <!-- <a href="index.html">Home</a> -->
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/models">Models</a></li>
                <li><a href="/research">Research</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href="/roadmap">...and beyond</a></li>

                <!-- <a href="roadmap.html">...and beyond</a> -->
              </div>
              <div class="main">
              <header class="masthead">
                    <div class="container d-flex h-100 align-items-center">
                      <div class="mx-auto text-center">
                          <h4>About<img id="img2" src="../static/assets/color_logo_transparent.png" class="img-fluid" alt="" style="width: 200px; height: 240px"></h1>
                        <!-- <h1 class="mx-auto my-0 text-uppercase">Toxicwatch</h1> -->
                        <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Discover the toxicity of your comments!</h2> -->
                      </div>
                    </div>
                  </header><br><br><br><br><br><br><br><br>

                  
                        <div class="row">
                                <div class="col-lg-8 mx-auto">
                                  <h2 id="what_is" class="text-white mb-4">What is Toxicwatch?</h2>
                                  <p id="one" class="text-white-50">
                                      Toxicwatch aims to save the world from the toxicity that is prevalent throughout the online community. Starting with a fixed data set, our goal is to train a machine to monitor and determine toxicity levels of user comments across numerous platforms of internet communication.
                                    </p>
                                  <h2 id="what_is" class="text-white mb-4">Objectives</h2>
                                  <p id="one" class="text-white-50">
                                      -The objective of Toxicwatch was to make an API that uses a Machine Learning model to categorize a newly input phrase as 'toxic' or 'non-toxic.' The dataset we used was from the Kaggle Toxic Comment Classification Challenge (https://www.kaggle.com/c/jigsaw-toxic-comment-classification-challenge). <br>
                                     </p>
                                     <p id="one" class="text-white-50">
                                        -This dataset included Wikipedia comments that were categorized into one of several categories related to toxicity and severity.<br>
                                      </p>
                                       <p id="one" class="text-white-50">
                                          -Our goal was to use this dataset to train a Machine Learning model by using Natural Language Processing techniques to assign values to the dataset's phrases and having it return whether or not a newly input phrase is toxic or non-toxic.  <br>                                   
                                        </p>
                                      <p id="one" class="text-white-50">
                                          -With one variable (Hash Values) we chose to go with the Linear Regression Model, because we expected to use a continuously updating model to train.  The objective is to use the hash values to determine of pattern of toxicity within comments.                                       
                                         </p>
                                  <h2 id="what_is" class="text-white mb-4">Our Mission</h2>
                                  <p id="one" class="text-white-50"> 
                                    To make the internet a safer place for all!                               
                                  </p>
                      
                      
                                </div>
                              </div>
                </div>
           <!-- Footer -->
           <section id="footer">

   
              <footer class="bg-black small text-center text-white-50">
                <div class="container">
                  Copyright &copy; Coding Bootcamp 2018
                </div>
              </footer>
            </section>
</body>
</html>