<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toxicwatch...Beyond!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
        <div class="sidenav">
                <!-- <a href="index.html">Home</a> -->
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/models">Models</a></li>
                <li><a href="/research">Research</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href="/roadmap">...and beyond</a></li>

                <!-- <a href="roadmap.html">...and beyond</a> -->
              </div>
              <div class="main">
                    <header class="masthead">
                          <div class="container d-flex h-100 align-items-center">
                            <div class="mx-auto text-center">
                                <h4>Into the Future!<img id="img2" src="../static/assets/color_logo_transparent.png" class="img-fluid" alt="" style="width: 200px; height: 240px"></h1>
                              <!-- <h1 class="mx-auto my-0 text-uppercase">Toxicwatch</h1> -->
                              <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Discover the toxicity of your comments!</h2> -->
                            </div>
                          </div>
                        </header><br><br><br><br><br><br><br><br>
                    <div class="row">
                            <div class="col-lg-8 mx-auto">
                              <h2 id="what_is" class="text-white mb-4">Future Goals</h2>
                              <p id="one" class="text-white-50">
                                  - Parse a chat log between at least 2 people and determine which user is the most toxic
                                </p>
                                <p id="one" class="text-white-50">
                                    - Log any series of phrases and categorize them based on their sentiment analysis -- beyond toxic or non-toxic, depending on whatever the person forking our code wants to do with our NLP algorithms                                  </p>
                              
                              <h2 id="what_is" class="text-white mb-4">Lessons Learned</h2>
                              <p id="one" class="text-white-50">                                
                                  - Data cleaning is more complicated than anticipated<br>
                                  - How Hashing and StopWords works (NLTK/Hashlib)<br>
                                  - Process behind Linear/Logistic Regression and modeling<br>
                                  - Spark Vectors <br> 
                                  - NLP and ML as two separate theories and processes are hard work!<br> 
                                  - We were able to clean the dataset, analyze it, and break the phrases down in various ways so that they're ready to calculate by an ML model.<br> 
                                  - We were then able to assign values to phrases and have them output weights based on VADER Sentiment Analysis, but by presentation time were unable to feed a new phrase from our website into our Machine Learning model.<br> 
                                  - What our website accomplishes by our 10/25 presentation day is take input text, break it down into sentiment scores based on a Naive Bayes classifier and VADER Sentiment Analysis, and stores those phrases and their results into a SQLite database.<br> 
                                  - The input data collected in the SQLite database -- hopefully collected from friends, family and colleagues who test our text box -- can then be extracted, loaded, and transformed into a dataset usable as a training set in and of itself.<br> 
                                  - Basically, our presentation-ready application is at the least a data harvesting app.  <br>                          
                                 </p>
                                 <h2 id="what_is" class="text-white mb-4">Our Vision</h2>
                              <p id="one" class="text-white-50">                                
                                  Ultimately, we want to create a service that can scrape a user's input (online, in a game, on a forum, etc.) and determine how toxic that user's overall language is. This could be invaluable for mitigating the effect of internet trolling, cyber bullying, and toxic environments in general. In a world where so much interaction is virtual, it is important to discover ways to monitor our seemingly anonymous online behavior.<br>
                                <a href ='../static/assets/project_3_workflow.png'>Click here to view our original plans versus what we accomplished between 10/16/2018 and 10/25/2018!</a>
                              </p>
                  
                  
                            </div>
                          </div>
            </div>
           <!-- Footer -->
           <section id="footer">

   
              <footer class="bg-black small text-center text-white-50">
                <div class="container">
                  Copyright &copy; Coding Bootcamp 2018
                </div>
              </footer>
            </section>
</body>
</html>