<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toxicwatch Data</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
        <div class="sidenav">
                <!-- <a href="index.html">Home</a> -->
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="models.html">Models</a></li>
                <li><a href="research.html">Research</a></li>
                <li><a href="data.html">Data</a></li>
                <li><a href="roadmap.html">...and beyond</a></li>

                <!-- <a href="roadmap.html">...and beyond</a> -->
              </div>
              <div class="main">
                    <header class="masthead">
                          <div class="container d-flex h-100 align-items-center">
                            <div class="mx-auto text-center">
                                <h4>Data<img id="img2" src="../static/assets/color_logo_transparent.png" class="img-fluid" alt="" style="width: 200px; height: 240px"></h1>
                              <!-- <h1 class="mx-auto my-0 text-uppercase">Toxicwatch</h1> -->
                              <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Discover the toxicity of your comments!</h2> -->
                            </div>
                          </div>
                        </header><br><br><br><br><br><br><br><br>
           
            <div class="col-md-12">
                    <hr>
                    <p>The following table includes a sample of the data used during this project</p>
                        <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                    <th>id</th>
                                    <th>comment_text</th>
                                    <th>toxic</th>
                                    <th>severe_toxic</th>
                                    <th>obscene</th>
                                    <th>threat</th>
                                    <th>insult</th>
                                    <th>identity_hate</th>
                                    <th>compound</th>
                                    <th>positive</th>
                                    <th>negative</th>
                                    <th>neutral</th>
                                    </tr>
                                    <tr>
                                    <td>0000997932d777bf</td>
                                    <td>"Explanation
                                            Why the edits made under my username Hardcore Metallica Fan were reverted? They weren't vandalisms, just closure on some GAs after I voted at New York Dolls FAC. And please don't remove the template from the talk page since I'm retired now.89.205.38.27"</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0.5574</td>
                                    <td>0.103</td>
                                    <td>0</td>
                                    <td>0.897</td>

                                    </tr>
                                    <tr>
                                            <td>000103f0d9cfb60f</td>
                                            <td>D'aww! He matches this background colour I'm seemingly stuck with. Thanks.  (talk) 21:51, January 11, 2016 (UTC)
                                                </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0.2942</td>
                                            <td>0.158</td>
                                            <td>0.099</td>
                                            <td>0.743</td>
                                    </tr>
                                    <tr>
                                            <td>000113f07ec002fd</td>
                                            <td>
                                                Hey man, I'm really not trying to edit war. It's just that this guy is constantly removing relevant information and talking to me through edits instead of my talk page. He seems to care more about the formatting than the actual info.                                                </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>-0.1779</td>
                                            <td>0.068</td>
                                            <td>0.083</td>
                                            <td>0.849</td>
                                    </tr>
                                    <tr>
                                            <td>0001b41b1c6bb37e</td>
                                            <td>"""
                                                    More
                                                    I can't make any real suggestions on improvement - I wondered if the section statistics should be later on, or a subsection of """"types of accidents""""  -I think the references may need tidying so that they are all in the exact same format ie date format etc. I can do that later on, if no-one else does first - if you have any preferences for formatting style on references or want to do it yourself please let me know.
                                                    
                                                    There appears to be a backlog on articles for review so I guess there may be a delay until a reviewer turns up. It's listed in the relevant form eg Wikipedia:Good_article_nominations#Transport  """
                                            </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0.5106</td>
                                            <td>0.062</td>
                                            <td>0.022</td>
                                            <td>0.916</td>
                                    </tr>
                                    <tr>
                                            <td>0001d958c54c6e35</td>
                                            <td>
                                                    You, sir, are my hero. Any chance you remember what page that's on?
                                            </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0.6808</td>
                                            <td>0.337</td>
                                            <td>0</td>
                                            <td>0.663</td>
                                    </tr>
                                    <tr>
                                            <td>00025465d4725e87</td>
                                            <td>
                                                    """

                                                    Congratulations from me as well, use the tools well. √Ç¬†√Ç¬∑ talk """

                                            </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0.7964</td>
                                            <td>0.503</td>
                                            <td>0</td>
                                            <td>0.497</td>
                                    </tr>
                                    <tr>
                                            <td>0002bcb3da6cb337</td>
                                            <td>
                                                    COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK
                                            </td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>-0.7783</td>
                                            <td>0</td>
                                            <td>0.531</td>
                                            <td>0.469</td>
                                    </tr>
                                    <tr>
                                            <td>00031b1e95af7921</td>
                                            <td>
                                                    Your vandalism to the Matt Shirvington article has been reverted.  Please don't do it again, or you will be banned.
                                            </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>-0.1779</td>
                                            <td>0.099</td>
                                            <td>0.129</td>
                                            <td>0.773</td>
                                    </tr>
                                    <tr>
                                            <td>00037261f536c51d</td>
                                            <td>
                                                    Sorry if the word 'nonsense' was offensive to you. Anyway, I'm not intending to write anything in the article(wow they would jump on me for vandalism), I'm merely requesting that it be more encyclopedic so one can use it for school as a reference. I have been to the selective breeding page but it's almost a stub. It points to 'animal breeding' which is a short messy article that gives you no info. There must be someone around with expertise in eugenics? 93.161.107.169
                                            </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>-0.802</td>
                                            <td>0</td>
                                            <td>0.109</td>
                                            <td>0.891</td>
                                    </tr>
                                    <tr>
                                            <td>00040093b2687caa</td>
                                            <td>
                                                    alignment on this subject and which are contrary to those of DuLithgow                                            </td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>1</td>
                                    </tr>
                                    <tr>
                                            <td>0005300084f90edc</td>
                                            <td>
                                                    """
                                                    Fair use rationale for Image:Wonju.jpg
                                                    
                                                    Thanks for uploading Image:Wonju.jpg. I notice the image page specifies that the image is being used under fair use but there is no explanation or rationale as to why its use in Wikipedia articles constitutes fair use. In addition to the boilerplate fair use template, you must also write out on the image description page a specific explanation or rationale for why using this image in each article is consistent with fair use.
                                                    
                                                    Please go to the image description page and edit it to include a fair use rationale.
                                                    
                                                    If you have uploaded other fair use media, consider checking that you have specified the fair use rationale on those pages too. You can find a list of 'image' pages you have edited by clicking on the """"my contributions"""" link (it is located at the very top of any Wikipedia page when you are logged in), and then selecting """"Image"""" from the dropdown box. Note that any fair use images uploaded after 4 May, 2006, and lacking such an explanation will be deleted one week after they have been uploaded, as described on criteria for speedy deletion. If you have any questions please ask them at the Media copyright questions page. Thank you. (talk √¢¬Ä¬¢ contribs √¢¬Ä¬¢ ) 
                                                    Unspecified source for Image:Wonju.jpg
                                                    
                                                    Thanks for uploading Image:Wonju.jpg. I noticed that the file's description page currently doesn't specify who created the content, so the copyright status is unclear. If you did not create this file yourself, then you will need to specify the owner of the copyright. If you obtained it from a website, then a link to the website from which it was taken, together with a restatement of that website's terms of use of its content, is usually sufficient information. However, if the copyright holder is different from the website's publisher, then their copyright should also be acknowledged.
                                                    
                                                    As well as adding the source, please add a proper copyright licensing tag if the file doesn't have one already. If you created/took the picture, audio, or video then the  tag can be used to release it under the GFDL. If you believe the media meets the criteria at Wikipedia:Fair use, use a tag such as  or one of the other tags listed at Wikipedia:Image copyright tags#Fair use. See Wikipedia:Image copyright tags for the full list of copyright tags that you can use.
                                                    
                                                    If you have uploaded other files, consider checking that you have specified their source and tagged them, too. You can find a list of files you have uploaded by following [ this link]. Unsourced and untagged images may be deleted one week after they have been tagged, as described on criteria for speedy deletion. If the image is copyrighted under a non-free license (per Wikipedia:Fair use) then the image will be deleted 48 hours after . If you have any questions please ask them at the Media copyright questions page. Thank you. (talk √¢¬Ä¬¢ contribs √¢¬Ä¬¢ ) """                                            
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0.991</td>
                                            <td>0.104</td>
                                            <td>0.019</td>
                                            <td>0.878</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    </div>
                                </div>
                    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->

            <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

            <!-- <script type="text/javascript"charset="utf-8">
                d3.text("../j/resources/train_sentiment_sample.csv", function(data) {
                    var parsedCSV = d3.csv.parseRows(data);
                    var container = d3.select("body")
                        .append("table")
                        .selectAll("tr")
                            .data(parsedCSV).enter()
                            .append("tr")
                        .selectAll("td")
                            .data(function(d) { return d; }).enter()
                            .append("td")
                            .text(function(d) { return d; });
                });
            </script> -->
    
</body>
</html>