<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toxicwatch - Related Research</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
        <div class="sidenav">
                <!-- <a href="index.html">Home</a> -->
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/models">Models</a></li>
                <li><a href="/research">Research</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href="/roadmap">...and beyond</a></li>

                <!-- <a href="roadmap.html">...and beyond</a> -->
              </div>
              <div class="main">
                    <header class="masthead">
                          <div class="container d-flex h-100 align-items-center">
                            <div class="mx-auto text-center">
                                <h4>Related Research<img id="img2" src="../static/assets/color_logo_transparent.png" class="img-fluid" alt="" style="width: 200px; height: 240px"></h1>
                              <!-- <h1 class="mx-auto my-0 text-uppercase">Toxicwatch</h1> -->
                              <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Discover the toxicity of your comments!</h2> -->
                            </div>
                          </div>
                        </header><br><br><br><br><br><br><br><br>
                    <div class="row">
                            <div class="col-lg-8 mx-auto">
                              <h2 id="what_is" class="text-white mb-4">Inspiration</h2>
                              <p id="research_text">
                                As the inspiration for the beginnings of Toxicwatch, the following article paved the way for us to apply what we have learned in an innovative way
                              </p>
                              <a id="perspective" href="https://web.stanford.edu/class/cs224n/reports/6837517.pdf">Detecting and Classifying Toxic Comments</a>

                              <p id="research_text" class="text-white-50">
                                  When first discussing possible topics, this website jumped out to us as a well executed use of NLP and machine learning. Ultimately, this is one of the directions we could see Toxicwatch move towards. With an amazingly interactive dashboard, Perspective API is a great example of how we ended up with Toxicwatch. 
                                </p>
                                <a id="perspective" href="http://perspectiveapi.com/#/">Perspective API</a>
                              
                                <p id="research_text" class="text-white-50">
                                  The issue of cyberbullying is ever increasing. Everyone interacting with the internet in some way is susceptible to the toxic anonymity of the web. This is a major root of Toxicwatch.
                                  </p>
                                  <a id="perspective" href="https://www.comparitech.com/internet-providers/cyberbullying-statistics/">Cyberbullying Around the World</a>
         
                              <h2 id="what_is" class="text-white mb-4">Sources & Special Thanks</h2>
                              
                              <a id="perspective" href="https://www.wintellect.com/creating-machine-learning-web-api-flask/">Creating a Machine Learning Web API with Flask</a><br>
                              <a id="perspective" href="https://www.kaggle.com/c/jigsaw-toxic-comment-classification-challenge/data">Kaggle - Toxic Comment Classification Challenge</a>
                              <br>
                              <div class="container">
                                <br><br><br>

                                <!-- <div class="mx-auto text-center">
                                  <h6>Thank you!</h6>
                                  </div> -->
                              <section id="left_names">
                                  <h6>Thank you!</h6>

                                  <h5>Ashish</h5>
                                  <h5>Mario</h5>
                                  
                                </section>
                            
                                <section id="center_pic">
                                    
                                        <img src="http://www.jimchines.com/wp-content/uploads/2016/04/Awesome.jpg" alt="star" style="width: 400px; height: 400px">
                                      
                                </section> 
                                <section id="right_names">
                                    <h6>Thank you!</h6>

                                    <h5>Aiyana</h5>
                                    <h5>Chankyu</h5>
                        
                                </section> 
                              </div><br>
                              
                  
                  
                            
                          </div>
            </div>
            </div>
           <!-- Footer -->
           <!-- <section id="footer">

   
              <footer class="bg-black small text-center text-white-50">
                <div class="container">
                  Copyright &copy; Coding Bootcamp 2018
                </div>
              </footer>
            </section> -->
</body>
</html>