<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toxicwatch...Beyond!</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
        <div class="sidenav">
                <!-- <a href="index.html">Home</a> -->
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="models.html">Models</a></li>
                <li><a href="research.html">Research</a></li>
                <li><a href="data.html">Data</a></li>
                <li><a href="roadmap.html">...and beyond</a></li>

                <!-- <a href="roadmap.html">...and beyond</a> -->
              </div>
              <div class="main">
                    <header class="masthead">
                          <div class="container d-flex h-100 align-items-center">
                            <div class="mx-auto text-center">
                                <h4>Into the Future!<img id="img2" src="../static/assets/color_logo_transparent.png" class="img-fluid" alt="" style="width: 200px; height: 240px"></h1>
                              <!-- <h1 class="mx-auto my-0 text-uppercase">Toxicwatch</h1> -->
                              <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Discover the toxicity of your comments!</h2> -->
                            </div>
                          </div>
                        </header><br><br><br><br><br><br><br><br>
                    <div class="row">
                            <div class="col-lg-8 mx-auto">
                              <h2 id="what_is" class="text-white mb-4">Future Goals</h2>
                              <p id="one" class="text-white-50">
                                  Toxicwatch aims to save the world from the toxicity that is prevalent throughout the onine community. Starting with a fixed data set, our goal is to train a machine to monitor and determine toxicity levels of user comments across numerous platforms of internet communication.
                                </p>
                              <!-- <h2 id="what_is" class="text-white mb-4">Our Vision</h2>
                              <p id="one" class="text-white-50">                                
                                  Ultimately, we want to create a service that can scrape a user's input (online, in a game, on a forum, etc.) and determine how toxic that user's overall language is. This could be invaluable for mitigating the effect of internet trolling, cyber bullying, and toxic environments in general. In a world where so much interaction is virtual, it is important to discover ways to monitor our seemingly anonymous online behavior. 
                              </p> -->
                  
                  
                            </div>
                          </div>
            </div>
    
</body>
</html>